<ion-content>
  <ion-button fill="clear" (click)="redirigirALogin()">
    <ion-icon class="salir" name="close-circle-outline"></ion-icon>
  </ion-button>
<ion-row>
  <ion-col>
    <ion-card class="top-left-card" (click)="navegarARegistro()">
      <ion-card-header>
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        REGISTRO
      </ion-card-content>
    </ion-card>

    <ion-card class="top-right-card" routerLink="/music">
      <ion-card-header>
        <ion-icon name="musical-notes-outline"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        MUSIC
      </ion-card-content>
    </ion-card>
  </ion-col>

  <ion-col>
    <ion-card class="top-right-card" (click)="navegarAPhotos()">
      <ion-card-header>
        <ion-icon name="images-outline"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        PHOTOS
      </ion-card-content>
    </ion-card>

    <ion-card class="top-right-card" (click)="redirectToApiPage()">
      <ion-card-header>
        <ion-icon name="code-slash-outline"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        API
      </ion-card-content>
    </ion-card>

  </ion-col>
</ion-row>
</ion-content>
